<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | Lectopia</title>
		<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
		<link href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet">
		<link href="/static/style.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-2.0.3.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
		<script src="/static/script.js"></script>
	</head>
	<body>
		<h1>Curtin University Lectopia Archives</h1>
		<article>

{% block content %}{% endblock %}

		</article>
	</body>
</html>
