{% extends "base.html" %}
{% block title %}Curtin University Lectopia Archives{% endblock %}
{% block content %}

<div id="tabs">
	<ul>
		<li><a href="#tabs-statistics">Statistics</a>
		<li><a href="#tabs-units">Units</a>
		<li><a href="#tabs-lectures">Lectures</a>
		<li><a href="#tabs-files">Files</a>
		<li><a href="#tabs-player">Play</a>
		<li><a href="#tabs-about">About</a>
	</ul>
	<div id="tabs-statistics">
		<h2>Units</h2>
		<table>
			<tr>
				<th>Total units
				<td class="stats" id="units_total">...
			<tr>
				<th>Units with files
				<td class="stats" id="units_useful">...
		</table>
		<h2>Lectures</h2>
		<table>
			<tr>
				<th>Total lectures
				<td class="stats" id="lectures_total">...
			<tr>
				<th>Lectures with files
				<td class="stats" id="lectures_useful">...
		</table>
		<h2>Files</h2>
		<table>
			<tr>
				<th>Total files
				<td>
					<span class="stats" id="files_total"
					>...</span> (<span class="stats"
					id="files_total_size">...</span>)
			<tr>
				<th>Available in this archive
				<td>
					<span class="stats" id="files_useful"
					>...</span> (<span class="stats"
					id="files_useful_size">...</span>)
					
		</table>
	</div>
	<div id="tabs-units">
		<h2>List of all units</h2>
		<table id="units">
			<thead>
				<tr>
					<th>#
					<th>Short name
					<th>Friendly name
			<tbody>
		</table>
	</div>
	<div id="tabs-lectures">
		<h2>Lectures for unit
			<span id="lectures-unit-id">
				(choose a unit first)
			</span>
		</h2>
		<table id="lectures">
			<thead>
				<tr>
					<th>#
					<th>Unit
					<th>Date/time
					<th>Duration (mins)
			<tbody>
		</table>
	</div>
	<div id="tabs-files">
		<h2>Lecture
			<span id="files-lecture-id">
				(choose a lecture first)
			</span>
		</h2>
		<table id="meta">
			<thead>
				<tr>
					<th>#
					<th>Key
					<th>Value
			<tbody>
		</table>
		<h2>File formats</h2>
		<table id="files">
			<thead>
				<tr>
					<th>#
					<th>Lecture
					<th>Size
					<th>Format
					<th>URL
			<tbody>
		</table>
	</div>
	<div id="tabs-player" style="text-align: center;">
		<video id="player" controls></video>
	</div>
	<div id="tabs-about">
		<p>Curtin University used Lectopia to record lectures and
			provide them to students for nearly a decade, but since
			the acquisition of Lectopia by Echo360 and the product's
			subsequent deprecation in favour of EchoSystem, Curtin
			no longer uses Lectopia.
		<p>The servers will be taken offline after December 31, 2013,
			and the fate of the data currently present on the legacy
			system is unknown, though it is unlikely that it will
			be made available to the public through other means.
			This is an archive of the lectures.
	</div>
</div>
{% endblock %}
